@font-face {
    font-family: "Alcubierre";
    src: url(Alcubierre.otf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Alcubierre";
}

body {
    background-color: #c68383;
    font-family: "Alcubierre", sans-serif;
    font-size: 30px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: #3e3e3e;
}

input {
    width: 13em;
    height: 4em;
    border-style: none;
    border-radius: 15px 5px 15px 5px;
    font-size: inherit;
    padding: 0 10px 0 10px;
}

button {
    width: 5em;
    height: 4em;
    color: #3e3e3e;
    font-family: inherit;
    font-size: inherit;
    background-color: #d6e9f5;
    border-radius: 15px 5px 15px 5px;
    margin-left: 15px;
    border-style: none;
}